[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
  email = xander515@tampabay.rr.com
  name = sigmachad
[core]
  editor = nano
  excludesfile = ~/.gitignore_global
[alias]
  st = status
  co = checkout
  br = branch
  ci = commit
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[color]
  ui = auto
[init]
  defaultBranch = main
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig_work
