# .shellcheckrc

# Allow opening any 'source'd file, even if not specified as input
external-sources=true

source-path=/home/sigmachad/.github/dotfiles/bash

# Specify the shell dialect
shell=bash

# Unused variables
disable=SC2034

# read without -r
disable=SC2162

disable=SC1090