# .shellcheckrc

# Allow 'source' from current directory
source-path=.

# Specify the shell dialect
shell=bash

# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# Ignore missing sourced files
source=/dev/null

# Unused variables
disable=SC2034

# read without -r
disable=SC2162
