# .shellcheckrc

# Allow opening any 'source'd file, even if not specified as input
external-sources=true

source-path=/home/sigmachad/.github/dotfiles/bash

# Specify the shell dialect
shell=bash

# Unused variables
disable=SC2034

# read without -r
disable=SC2162

# Sourcing files that are not specified as input
disable=SC1090

# Can't follow non-constant source. We often source files via variables.
disable=SC1091